.form-field {
    display: grid;
    width: 50%;

    label{
        color: slateblue;
    }
}

#event-form {

    display: grid;
    justify-items: center;
  
    grid-gap: 20px;
    width: 60%;

    padding: 20px;
  
    color: white;

}



textarea {
    resize: none;
    outline: none;
    font-size: 18px;
    height: 160px;
    box-shadow: 0 2px 4px -2px gray;
    border-radius: 20px;
}

#event-category {
    height: 40px;
    outline: none;
      box-shadow: 0 2px 4px -2px gray;
      border-radius: 20px;
      padding-left: 2px;
}
#event-date {
    height: 40px;
    outline: none;
    border: 1px solid grey;
    box-shadow: 0 2px 4px -2px gray;
    border-radius: 20px;
    padding-left: 5px;

}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 100px;
    width: 90%;
    margin-left: 100px;
   
} 

#form-img-container {
    width: 1200px;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: rgb(181,190,195);

}

#form-img {
    height: 100%;
    width: 100%;
    
    z-index: 1;
}

#form-type {
    color: slateblue
}