.form-field {
    display: flex;
    flex-direction: column;
    width: 50%;

}

#event-form {

    display: grid;
    justify-items: center;
  
    grid-gap: 20px;
    width: 60%;

    padding: 20px;
  
    color: white;

}

.event-button {
    border: none;
    outline: none;
    background-color: slateblue;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    width: 20%; 
} 

textarea {
    resize: none;
    outline: none;
    font-size: 18px;
    height: 160px;
}

#event-category {
    height: 40px;
    outline: none;
}
#event-date {
    height: 40px;
    outline: none;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 100px;
    width: 90%;
    margin-left: 100px;
   
} 

#form-img-container {
    width: 1200px;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: rgb(181,190,195);

}

#form-img {
    height: 100%;
    width: 100%;
    
    z-index: 1;
}

#form-type {
    color: slateblue
}