@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');


.creators > a {
    display: flex;
    flex-direction: row;
}

.github {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.creators {
    display: flex;
    justify-content: space-around;
    width: 400px;

}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user-auth-button {
    border: none;
    outline: none;
    background-color: white;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    font-weight: 700; 
}

#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px -2px gray;
}

#splash-description {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

#button-container {
    display: flex;
    align-items: center;
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    box-shadow: 0 2px 4px -2px gray;
}

#nav-header {
    padding-left: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: slateblue;
}

#splash-img {
    height: 95%;
    width: 32%;
    border-radius: 8px;
    margin: 5px;
}

#splash-header {
    color: darkslateblue;
}

#header-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    width: 30%;
    background-image: url(whitebg.jpg);
    margin: 20px;


}

#header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
}



#edit-button:hover {
    background-color: mediumslateblue;
    cursor: pointer;
}

#splash-description {
    /* display: flex; */
    text-align: center;
    color: darkslateblue;
    font-weight: 700;;
    
}

a {
    text-decoration: none;
    color: none;
}

#login {
    color: slateblue;
    font-size: 16px;
    font-weight: 600;
    height: 34px;
    width: 100px;
    /* vertical-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-links {
    margin-left: 100px;
    display: flex;

}

#nav-link {
    color: slateblue;
    font-weight: 600;
    font-size: 16px;
    margin-right: 20px;
}

#login:hover {
    /* background-color: mediumslateblue; */
    cursor: pointer;
}

#logo {
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

#logo-container {
    display: flex;
    align-items: center;

}