.user-auth-button {
    border: none;
    outline: none;
    height: 30px;
    width: 15opx;
    margin-top: 20px;
    margin-right: 20px;

}

#nav-container {
    display: flex;
    justify-content: space-between
}

#button-container {
    display: flex;
    /* justify-content: space-between; */
}

#img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}

#nav-header {
    padding-left: 20px
}

#splash-img {
    height: 598px;
    width: 721px;
}

