@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

.event-index--error{
    border: 2px solid black;
    font-family: "Lato", sans-serif;
    width: fit-content;
}