.follow-card {
    // border: 1px black solid;
    border-radius: 8px; 
    padding: 10px;
    width: 90%;
    height: 10%;
    margin: 10px;
    background: rgb(63,94,251);
    // background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

#user-link {
    color: white;
}